#!/bin/bash
function perl_local() {
    if [ -e ./.cpan ]; then
        perl -I.cpan/lib/perl5 $@
    else
        perl $@
    fi
}

function prove_local() {
    if [ -e ./.cpan ]; then
        prove -I.cpan/lib/perl5 $@
    else
        prove $@
    fi
}

unalias perl # should unalias here to eval local::lib correctly
unalias prove

export PERL_CPANM_OPT="--local-lib=~/.perl"
eval $(perl -I$HOME/.perl/lib/perl5 -Mlocal::lib=$HOME/.perl)

alias perl='perl_local'
alias prove='prove_local'


# vim: nowrap sw=2 sts=2 ts=2 noet ff=unix:
