#!/bin/bash
# to use this sample,
#     $ mkdir -p ~/.bash.d && cd ~/.bash.d
#     $ ln -s ../.dotfiles/.bash.d/perl.sample perl
function perl_local() {
    if [ -e ./.cpan ]; then
        perl -I.cpan/lib/perl5 $@
    else
        perl $@
    fi
}

function prove_local() {
    if [ -e ./.cpan ]; then
        prove -I.cpan/lib/perl5 $@
    else
        prove $@
    fi
}

function cpanm_local() {
    if [ -e ./.cpan ]; then
        cpanm -l.cpan $@
    else
        cpanm $@
    fi
}

unalias perl  >/dev/null 2>&1 # should unalias here to eval local::lib correctly
unalias prove >/dev/null 2>&1
unalias cpanm >/dev/null 2>&1

export PERL_CPANM_OPT="--local-lib=~/.perl"
eval $(perl -I$HOME/.perl/lib/perl5 -Mlocal::lib=$HOME/.perl)

alias perl='perl_local'
alias prove='prove_local'
alias cpanm='cpanm_local'


# vim: nowrap sw=2 sts=2 ts=2 noet ff=unix:
